# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ayxan\Desktop\IDE default\CLion\Enigma\.idea/dataSources/
/dataSources.local.xml
